.idea/
Thumbs.db
.DS_store
node_modules/
*/*/node_modules/
log*/
*.log
configdev/customConfig.json
tmp/

app/views/dist/
app/public/src/css/
app/public/dist/



#app/common/nos.js
omad-daemon.js
omad-pm2.js
doc/deploy.xml
